@import '../main.css';

section,
aside {
    padding: var(--section-padding);
    border-radius: var(--border-radius-l);
}

.section-group-up,
.section-group-down {
    display: flex;
    margin: var(--margin);
    gap: 3.2em;
}

.experience {

    display: flex;
    flex-direction: column;
    gap: 1.6em;
    min-width: 70%;
}

article {
    border-radius: var(--border-radius-m);
    background-color: var(--color-white);
    padding: var(--container-padding-s);
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.experience__article-period {
    font-size: 1.25em;
}

.experience__article-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
}

.experience__article-position {
    font-weight: 500;
}

.experience__article-company {
    font-weight: 400;
    font-size: 1.2em;
}

.experience__article-header {
    width: 60%;
}

.experience__article-list {
    width: 100%;
    font-size: 1.2rem;
}

.experience__article-item {
    font-size: 1.2rem;
}

.article-most-recent {
    color: var(--color-white);
}

.experience__article-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience__article-note {
    padding: 0.3em 1em;
    border-radius: var(--border-radius-xl);
    color: #DDF163;
    background-color: #7E731266;
}

@media (max-width: 1440px) {
    .experience {
        max-width: 100%;
    }

}

.tools {
    width: 20%;

    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

.tools__groups {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 0 1.5em;
}

.tools__group {
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 0.75rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tools__label {
    background: black;
    color: white;
    display: inline-block;
    padding: 0.25em 0.75em;
    border-radius: var(--border-radius-xxxl);
    font-size: 0.8rem;
    text-transform: lowercase;
    margin-top: -2em;
}

.tools__icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
    row-gap: 1.5rem;
    /* gap: 2em; */
    list-style: none;
    padding: 1.16em 1.75em;
}


@media (max-width: 1440px) {
    .section-group-up {
        flex-direction: column;
    }

    .tools {
        width: 100%;
        flex-direction: column;
    }

    .tools__groups {
        flex-direction: row;
        padding: 0;
    }

    .tools__group {
        min-height: 13em;
    }

    .tools__icons {
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
    }
}

.education {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    width: 50vw;
}

.education__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8em;
}

.education__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.education__item-period {
    font-size: 1.6rem;
}

.education__item-title {
    font-weight: 500;
}

.education__item-tags {
    font-size: 1.25rem;
    font-weight: 400;
}

.education__item-place {
    font-size: 1.25rem;
    font-weight: 400;
}

.tag--green {
    color: var(--color-green-02);
}