@import '../fonts.css';
@import '../variables.css';
@import '../media.css';
@import './header.css';
@import './content.css';

.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: var(--border-radius-l);
    padding: var(--section-padding);
    transition-duration: 0.3s;
}

.footer:hover {
    transform: scale(1.01);
}

.footer__title {
    margin-bottom: 0.8em;
}

.footer__email {
    font-size: 1.6rem;
    font-weight: 400;
}