@import '../fonts.css';
@import '../variables.css';
@import '../media.css';
@import './content.css';
@import './footer.css';

.header {
    margin: var(--margin);
}

.header__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.2em;
}

.header__image {
    width: 20em;
    height: 20em;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-l);
    max-height: 20em;
    object-fit: cover;
    transition-duration: 0.3s;
}

.header__image:hover {
    transform: scale(1.01);
}

.header__about,
.header__languages {
    height: 20em;
    width: 20em;
    height: 100%;
    border-radius: var(--border-radius-l);
    padding: var(--container-padding-l);
    max-height: 20em;
}

.header__about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__greeting {
    font-size: 1.6rem;
    font-weight: 500;
}

.header__about-name {
    font-size: 1.9rem;
    font-weight: 600;
}

.header__about-profile {
    font-size: 1.9rem;
    color: #5C5C5C;
    font-weight: 500;
}

.header__languages {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    grid-area: 1/3/2/5;
}

.header__languages-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.3em;
}

.header__languages-item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.language-name {
    width: 5.85em;
    font-weight: 600;
    font-size: 1.6rem;
}

.language-bar {
    height: 1.75em;
    border-radius: var(--border-radius-xs);
    display: block;
}

.bar--full {
    width: 70%;

}

.bar--mid {
    width: 50%;
}