@import './variables.css';
@import './media.css';
@import './layouts/header.css';
@import './layouts/content.css';
@import './layouts/footer.css';
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}