@import './fonts.css';
@import './variables.css';
@import './media.css';
@import './layouts/header.css';
@import './layouts/content.css';
@import './layouts/footer.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Poppins';
}

.gray {
    background-color: var(--color-gray);
    transition-duration: 0.3s;
}

.green {
    background-color: var(--color-green-01);
    color: var(--color-white);
}

h1 {
    font-size: 2.25rem;
    font-weight: 500;
}