@import './fonts.css';
@import './variables.css';
@import './media.css';
@import './layouts/header.css';
@import './layouts/content.css';
@import './layouts/footer.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Poppins';
}

.gray {
    background-color: var(--color-gray);
    transition-duration: 0.3s;
}

.green {
    background-color: var(--color-green-01);
    color: var(--color-white);
}

h1 {
    font-size: 2.25rem;
    font-weight: 500;
}

[contenteditable]:focus {
    outline: none;

}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(0);
  animation: ripple-wave 0.6s ease-out;
  pointer-events: none;
  z-index: -1;
}

@keyframes ripple-wave {
  to {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes textChange {
  0% {
    background-color: #d0f0c0;
    transform: scale(1.03);
    opacity: 0.6;
  }
  100% {
    background-color: transparent;
    transform: scale(1);
    opacity: 1;
  }
}

.animated-change {
  animation: textChange 0.6s ease-out;
}
