@import './fonts.css';
@import './variables.css';
@import './layouts/header.css';
@import './layouts/content.css';
@import './layouts/footer.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
    overflow: hidden;
}

body {
    font-family: 'Poppins';
    padding: var(--section-padding);
}

.gray {
    background-color: var(--color-gray);
}

h1 {
    font-size: 2.25rem;
    font-weight: 500;
}