@import './main.css';

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray: #f0f0f0;

  --color-green-01: #28d979;
  --color-green-02: #149063;

  --color-yellow: #ddf163;
  --color-brown: #7e7312;

  --border-radius-xxxl: 9.5em;
  --border-radius-xxl: 6.5em;
   --border-radius-xl: 2.95em;
  --border-radius-l: 1.9em;
  --border-radius-m: 1.6em;
  --border-radius-s: 1em;
  --border-radius-xs: 0.5em;

  --font-family-base: "Poppins", sans-serif;

  --container-padding-x: 3.2em;
  --container-padding-l: 1.9em;
  --container-padding-m: 1.7em;
  --container-padding-s: 1.25em;

  --section-padding: 1.6em;
  --margin: 3.2em
}
